:root {
  --primary-color: #28a386;
  --font-family: "Inter UI", system-ui, sans-serif
}

body {
  color: #333;
  background-color: #fff;
  letter-spacing: -.1px;
  font-weight: 400;
  font-kerning: normal;
  -moz-font-feature-settings: "kern"1;
  -webkit-font-feature-settings: "kern"1;
  font-feature-settings: "kern"1
}

a {
  transition: color .2s ease
}

a.no-hover-effect:hover {
  opacity: 1
}

h6 {
  text-transform: uppercase
}

.container {
  width: 90%
}

.lead {
  font-size: 120%
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0
}

#defaultCanvas0 {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: -2;
}